.hero{

    .swiper-container {
        width: 100vw;
        height: 100vh;
    }

    .swiper-slide{
        width: 100vw;
        height: 100vh;
    }

    .swiper-slide{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-bottom: 3rem;
        }
    }
}