.outstanding-houses{
    h2{
        margin-bottom: 3rem;
    }
    .all-houses{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 375px){
            flex-direction: column;
        }
        .house{
            width: 30%;
            transition: .3s all ease-in-out;
            position: relative;
            img{
                width: 100%;
                margin-bottom: 1.5rem;
            }
            @media screen and (max-width: 375px){
                width: 100%;
                margin-bottom: 3rem;
            }
            @media screen and (min-width: 400px){
                &:hover .house-details{
                    h3{
                        color: $white;
                    }
                    background: $black;
                    position: absolute;
                    left: 20px; top: 20px; bottom: -20px; right: -20px;
                    display: flex;
                    align-items: flex-end;
                    padding-left: 20px;
                    padding-bottom: 20px;
                    z-index: -1;
                    transition: .3s all ease-in-out;
                }
            }
        }
    }
    .location, .price{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
        color: $grey;
    }
}