.property{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 375px){
        flex-direction: column;
    }
    h3{
        font-size: 1.75rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
    & > div{
        width: 45%;
        @media screen and (max-width: 375px){
            width: 100%;
        }
    }
    .swiper-container{
        height: auto;
    }
    .property-details{
        padding-left: 3rem;
        @media screen and (max-width: 375px){
            padding-left: 0;
        }
        img{
            width: 103px;
            height: 103px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            color: $grey;
            line-height: 1.7;
            margin-bottom: 1rem;
        }
        & > div:first-child{
            margin-bottom: 3rem;
        }
        & > div:last-child{
            h3{
                margin-bottom: .5rem;
            }
        }
    }
}