.single-article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 375px){
        flex-direction: column;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        color: $grey;
        margin-bottom: 1rem;
        line-height: 1.7;
        a{
            color: $green;
        }
    }
    & > div{
        &:first-child{
            width: 65%;
            @media screen and (max-width: 375px){
                width: 100%;
            }
            & > div:first-child p:first-child{
                font-size: 1.25rem;
                font-weight: 300
            }
            & > div:first-child{
                margin-bottom: 3rem;
            }
            @media screen and (max-width: 375px){
                margin-bottom: 3rem;
            }

        }
        &:last-child{
            width: 30%;
            @media screen and (max-width: 375px){
                width: 100%;
            }
            .search{
                margin-bottom: 3rem;
                div{
                    background: #f7f7f7;
                    padding: 10px;
                    padding-right: 30px;
                }

            }
            input{
                width: 100%;
                border: 1px solid #ced4da;
                padding: .375rem 0;
                padding-left: 20px;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #495057;
                &:focus{
                    outline: none;
                    border-color: $green;
                    border-radius: 4px;
                }
            }
            & > div:nth-child(2){
                img{
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
                margin-bottom: 3rem;
            }
        }
    }
}