.toggle-menu{
    background: $white;
    position: absolute;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 100vw;
    padding: 20px;
    color: $grey;
    a{
        padding: 10px 20px;
        display: block;
        font-size: 20px;
        color: $grey;
        line-height: 1.7;
    }
    transition: 1s all ease-in-out;
}

.close-button{
    text-align: right;
}