html, body{
    font-family: $roboto;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

div.wrapper{
    padding: 0 0; 
}

a{
    text-decoration: none;
}

.section-padding{
    padding: 5em 15px;
    @media screen and (max-width: 375px){
        padding: 2.5em 15px;
    }
}

h2, h3{
    font-family: $oswald;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
}

h2{
    font-size: 3rem;
    margin-bottom: .5rem;
    @media screen and (max-width: 375px){
        font-size: 2rem;
    }
}

h3{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

h4 {
    margin-bottom: 1rem;
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: #343a40;
}

h5{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 1.7;
    font-weight: 400;
}

.text-shadow{
    text-shadow: 0px 0px 0px #000;
}

p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.white-text{
    color: $white;
}

.green-text{
    color: $green;
}

.button{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}

.green-button{
    background: $green;
    color: $white;
    &:hover{
        background: $black;
    }
}

a.active{
    color: $green!important;
}