header{
    font-family: $oswald;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    position: fixed;
    z-index: 2;
    .burger{
        display: none;
    }
    a{
        text-transform: uppercase;
        padding: 0 20px;
        color: $grey;
        transition: .3s color ease-in; 
        &:hover{
            color: $white;
        }
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
    h1{
        a{
            font-size: 1.7rem;
            color: $white;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (max-width: 375px){
        .navigation{
            display: none;
        }
        .burger{
            display: block;
            color: $white;
        }
    }

}

// @media screen and (max-width: 375px){
//     header{
//         background: $white;
//         h1 a{
//             color: $black;
//         }
//     }
// }